.bodyElement {
  display: flex;
  flex-direction: column;
}
.bulletGrid {
  // display: flex;
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
    gap: theme("gap.1");

    // NOTE - This is the sub-bullet div
    > div {
      // SOURCE - https: //stackoverflow.com/a/59284975
      grid-column: span 2;
      padding-left: theme("padding.6");

      display: grid;
      grid-template-columns: fit-content(50%) 1fr;
      gap: theme("gap.1");
    }
}

// .bodyElement::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 7px;
// }

// .bodyElement::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .5);
//   box-shadow: 0 0 1px rgba(255, 255, 255, .5);
// }