
@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }
  99% {
    // transform: translateX(5%);
    box-shadow: none;
  }
  100% {
    transform: translateX(0);
    box-shadow: -7px 0 13px rgba(10, 36, 173, 0.95);
  }
}

@keyframes slow-expand {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
    // display: none;
  }
}


.main {
  flex-grow: 1;
}

.landingOuterDiv {
  // animation: slide-in-from-right 1s ease-in-out;
  animation: slide-in-from-right 1s ease forwards;
  // background-color: red !important;
  
}

@media (max-width: 1024px) {
  .landingOuterDiv {
    // animation: slow-expand 1s ease forwards;
  }

}