@media (max-width: 639px) {
  .captchaContainer > div > iframe {
    width: 100% !important;
  }
}


.textareaInput {
  display: block;
  width: 100%;
  overflow: auto;
  resize: vertical;
  min-height: 4rem;
  line-height: 20px;
}

@media (min-height: 800px) {
.textareaInput {
    min-height: 10rem !important;
  }
}
