@keyframes smooth-appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    // box-shadow: -5px 0 11px rgba(10, 36, 173, 0.95) inset;
  }
}

@keyframes smooth-disappear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}
@keyframes smooth-shrink {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
    // display: none;
    // width: calc(fit-content / 2);
  }
}

.shadowSidebarContainer {
  // color: white;
  // padding: 20px;
  // position: fixed;
  // top: 0;
  // left: 0;
  z-index: 0;
  // height: 100vh;
  background: white;
  width: fit-content;
  // width: 500px;
  transform: translateX(-100%);
  animation: smooth-appear 1s ease forwards;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.952);
    // box-shadow: -5px 0 11px rgba(10, 36, 173, 0.95) inset;
    // position: fixed;
    
      // position: fixed;
      // //   /* Fixed Sidebar (stay in place on scroll) */
      //   z-index: 1;
      // //   /* Stay on top */
      //   top: 0;
      // //   // /* Stay at the top */
      //   left: 0;
      // position: relative;

          // left: 50%;
          //   top: 0%;
          //   margin-left: calc(fit-content / 2);
}


// TODO - Figure out exit animation. The hidden property is making it not work (https: //chriscoyier.net/2023/10/30/exit-animations/)
@media (max-width: 1024px) {
  .shadowSidebarContainer {
    // animation: smooth-shrink 1s ease forwards;
    // animation-fill-mode: forwards;
  }
  // ::view-transition-old(.sidebarContainer) {
  //   animation: smooth-disappear 1s ease forwards;
  // }
  
}
