@keyframes smooth-appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes smooth-appear-for-real {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    box-shadow: -5px 0 11px rgba(10, 36, 173, 0.68) inset;
  }
}

@keyframes smooth-disappear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

.sidebarContainer {
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.navigationLink {
  transition: all 0.75s allow-discrete;
  // box-shadow: none;
}
.navigationLinkIcon {
  transition: color 0.75s allow-discrete;
}

// .currentLink {
//   background-color: theme("backgroundColor.blue.500");
//   color: black;
//   box-shadow: theme("boxShadow.3xl");
// }




.currentLinkIcon {
  color: black;
}
