@keyframes smooth-appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes smooth-appear-for-real {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    box-shadow: -5px 0 11px rgba(10, 36, 173, 0.68) inset;
  }
}

@keyframes smooth-disappear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}
// @keyframes smooth-shrink {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-75%);
//   }
// }

.sidebarContainer,
.shadowSidebarContainer {
  // background: #F6AF3B;
  // TODO - Make background darker
  width: fit-content;
  // box-shadow: -5px 0 11px rgba(10, 36, 173, 0.68) inset;
  // transform: translateX(-100%);
}

.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  // animation: smooth-appear-for-real 1s ease forwards;
}

.shadowSidebarContainer {
  z-index: 0;
  // animation: smooth-appear 1s ease forwards;
}

// TODO - Figure out exit animation. The hidden property is making it not work (https: //chriscoyier.net/2023/10/30/exit-animations/)
@media (max-width: 1024px) {
  .sidebarContainer {
    // animation: smooth-shrink 1s ease forwards;
    // animation-fill-mode: forwards;
  }
  // ::view-transition-old(.sidebarContainer) {
  //   animation: smooth-disappear 1s ease forwards;
  // }
  
}

// TODO - Figure out exit animation. The hidden property is making it not work (https: //chriscoyier.net/2023/10/30/exit-animations/)
@media (max-width: 1024px) {
  .shadowSidebarContainer {
    // animation: smooth-shrink 1s ease forwards;
    // animation-fill-mode: forwards;
  }

  // ::view-transition-old(.sidebarContainer) {
  //   animation: smooth-disappear 1s ease forwards;
  // }

}

.navigationLink {
  transition: all 0.75s allow-discrete;
  // box-shadow: none;
}
.navigationLinkIcon {
  transition: color 0.75s allow-discrete;
}

// .currentLink {
//   background-color: theme("backgroundColor.blue.500");
//   color: black;
//   box-shadow: theme("boxShadow.3xl");
// }




.currentLinkIcon {
  color: black;
}
